[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ghastoolkit = "*"

[dev-packages]
black = "*"

[scripts]
main = "python -m gldsa"
test = "python -m unittest discover -v -s ./tests -p 'test_*.py'"
fmt = "black ./gldsa"
lint = "black --check ./gldsa"

